= form_for @request, id: 'request_form', remote: true do |f|
  %div{:id=>"request_errors", :style=>"display:none"}
  .modal-body
    - @fields.each do |field|
      .row
        .form-group
          .field
            .col-lg-3.form-labels= f.label field[:name], field[:label]
            - case field[:method]
            - when :text_area
              .col-lg-12= f.text_area field[:name], size: "20x12", class: "form-control", placeholder: field[:placeholder]
            - when :select
              .col-lg-9
                = f.select field[:name], options_for_select(field[:options], field[:plan]), {multiple: true}, {class: "form-control"}
            - else
              .col-lg-9= f.send(field[:method], field[:name], class: "form-control", placeholder: field[:placeholder])
  .modal-footer
    .actions
      = f.submit 'Отправить', class: "btn btn-#{@button_color || 'primary'} btn-lg", id: 'request_button'