<%= form_for @request, id: 'request_form', remote: true do |f| %>

  <div id= "request_errors" style="display:none"></div>


  <div class="modal-body">

    <div class="field">
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 labels"><%= f.label "Имя" %></div>
          <div class="col-lg-9"><%= f.text_field :name, class: "form-control", placeholder: "Константин Симонов"%></div>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 labels"><%= f.label "Телефон" %></div>
          <div class="col-lg-9"><%= f.text_field :phone, class: "form-control", placeholder: "+7 987 765 4321" %></div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 labels"><%= f.label "E-mail" %></div>
          <div class="col-lg-9"><%= f.text_field :email, class: "form-control", placeholder: "k.simonov@example.com" %></div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 labels"><%= f.label "Комментарий" %></div>
          <div class="col-lg-9"><%= f.text_field :comment, class: "form-control", placeholder: "Я хотел бы заказать..." %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <!-- modal-footer - футер формы, который раньше был в layouts/_popupform.html.erb -->
    <div class="modal-footer">
      <%= f.submit class: "btn btn-success btn-lg", id: 'request_button' %>
    </div>
  </div>
<% end %>
