- provide(:title, 'Самое важное')
/ броское начало
.jumbotron
	%h1 Максимальный рерайт!
	%p.lead Мы сделаем рерайт 300 тысяч знаков за сутки!
	= render 'button_custom', button: {text: 'Заказать!', size: 'btn-lg', color: 'success', params: {color: 'success'}}

/ преимущества
.row
	- @tiles.each do |tile|
		.col-lg-6
			%h2= tile[:header]
			%p= tile[:body]
			= render 'button_custom', button: tile[:button]

/ примеры работ

- if @job
	.row
		%h2.main-page Наша работа
	.row.wanna-be-table
		.col-lg-6.cell
			.panel.panel-danger
				.panel-heading
					%h4 Было
				.panel-body
					= @markdown.render(@job.first).html_safe
		.col-lg-6.cell
			.panel.panel-success
				.panel-heading
					%h4 Стало
				.panel-body
					= @markdown.render(@job.last).html_safe
	.row.main-page-button
		= render 'button_custom', button: {text: 'Заказать такой же себе!', size: 'lg', color: 'success', params: {color: 'success'}}

/ отзывы
- if @testimonials.size > 1
	.row
		%h2.main-page Про нас говорят
	.row
		- middle_number = (@testimonials.size - 1) / 2
		- columns = [(0..middle_number), ((middle_number + 1)..@testimonials.size - 1)]
		- puts columns
		- columns.each do |column|
			.col-lg-6
				- column.each do |id|
					.panel.panel-default.testimonial
						.panel-body
							%p= @testimonials[id].text
						.panel-footer
							%p= @testimonials[id].customer_name
	.row.main-page-button
		= render 'button_custom', button: {text: 'Сомневаетесь? Попробуйте бесплатно!', size: 'lg', color: 'success', params: {request_type: 'testdrive', color: 'success'}}