!!! 5
%html
  %head
    %title= "ReNewText | #{yield(:title)}"
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    ! <!--[if lt IE 9]>
    ! <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    ! <![endif]-->
  %body
    = render 'layouts/popupform'
    .container
      = render 'layouts/header'
      %div{:id=>"flash_notice", :style=>"display:none"} 
      = yield
      = render 'layouts/footer'
      = render 'layouts/ga'